/* CitySelectModal.css */

.city-select-modal{
  z-index: 1063;
}

.city-select-modal .modal-body {
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

.city-select-modal .modal-dialog {
  max-width: 90%;
  margin: auto;
  z-index: 1063; /* Ensure this is higher than AddAddressModal */
}

/* Custom backdrop style */
