
/* colors.css */
:root {
  --vivid-orange: #BEA57D;
  --dark-slate-gray: #3F4850;
  --hover-orange: #63474D;
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --dark-gray: #495057;
  --light-blue: #BEA57D;
  --black: #000000;
  --blue-shadow: rgba(0, 123, 255, 0.25);
}
