/* OrderStatus.css */
.order-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px); /* Adjust this value to ensure proper height */
  padding: 20px; /* Optional: Add padding for better spacing */
}

.order-status-icon {
  font-size: 4rem;
  color: #3F4850; /* Dark slate gray */
}

.btn-primary {
  background-color: #FD995A;
  border-color: #FD995A;
}

.btn-primary:hover {
  background-color: #e88a4e;
  border-color: #e88a4e;
}
